{% extends 'sample.html' %}
{% block content %}
    <h2 style="text-align: center; font-size: x-large; margin-top: 5%">Item details: </h2>
        <div style="text-align: center; font-size: large">
            <h3>Item: {{ item.name }}</h3>
            <h3>Price: {{ item.get_display_price }} $</h3>
            <h3>Description: {{ item.description }}</h3>
            <button type="submit" id="buy-button" style="width: 100px; height: 50px">Buy</button>
            <br><br><br><br>
            <a href="{% url 'index'%}">Return to home page</a>
        </div>
    <script type="text/javascript">
        var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
        var buyButton = document.getElementById("buy-button");
        buyButton.addEventListener("click", () => {
            fetch("{% url 'buy' item_id=item.id %}", {
                method: "GET"})
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    return stripe.redirectToCheckout({sessionId: session.id});
                })
                .then(function (result) {
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });
    </script>
{% endblock content %}